extends layout
block content
  #actionDiv
    h1#actionTitle CONTACT YOUR OFFICIALS
    br
    br
    #wrapper
      #selectTitleDiv
        h2#selectTitle SELECT YOUR STATE
        form#stateForm(method="get", action="")
          select#selectStateBox(name='SelectYourState')
            option(value='') Choose an Option
            option(value='/senator/AL') Alabama
            option(value='/senator/AK') Alaska
            option(value='/senator/AZ') Arizona
            option(value='/senator/AR') Arkansas
            option(value='/senator/CA') California
            option(value='/senator/CO') Colorado
            option(value='/senator/CT') Connecticut
            option(value='/senator/DE') Delaware
            option(value='/senator/DC') District Of Columbia
            option(value='/senator/FL') Florida
            option(value='/senator/GA') Georgia
            option(value='/senator/HI') Hawaii
            option(value='/senator/ID') Idaho
            option(value='/senator/IL') Illinois
            option(value='/senator/IN') Indiana
            option(value='/senator/IA') Iowa
            option(value='/senator/KS') Kansas
            option(value='/senator/KY') Kentucky
            option(value='/senator/LA') Louisiana
            option(value='/senator/ME') Maine
            option(value='/senator/MD') Maryland
            option(value='/senator/MA') Massachusetts
            option(value='/senator/MI') Michigan
            option(value='/senator/MN') Minnesota
            option(value='/senator/MS') Mississippi
            option(value='/senator/MO') Missouri
            option(value='/senator/MT') Montana
            option(value='/senator/NE') Nebraska
            option(value='/senator/NV') Nevada
            option(value='/senator/NH') New Hampshire
            option(value='/senator/NJ') New Jersey
            option(value='/senator/NM') New Mexico
            option(value='/senator/NY') New York
            option(value='/senator/NC') North Carolina
            option(value='/senator/ND') North Dakota
            option(value='/senator/OH') Ohio
            option(value='/senator/OK') Oklahoma
            option(value='/senator/OR') Oregon
            option(value='/senator/PA') Pennsylvania
            option(value='/senator/RI') Rhode Island
            option(value='/senator/SC') South Carolina
            option(value='/senator/SD') South Dakota
            option(value='/senator/TN') Tennessee
            option(value='/senator/TX') Texas
            option(value='/senator/UT') Utah
            option(value='/senator/VT') Vermont
            option(value='/senator/VA') Virginia
            option(value='/senator/WA') Washington
            option(value='/senator/WV') West Virginia
            option(value='/senator/WI') Wisconsin
            option(value='/senator/WY') Wyoming
          input#submitStateChoice(type="submit" value="submit")

      #infoDiv
        h2#SenatorName #{senatorList[0].name}
        h4#infoTitle Phone Number
        h5#infoResponse #{senatorList[0].phone}
        h4#infoTitle Address
        h5#infoResponse #{senatorList[0].address}
        h4#infoTitle Contact Form
        h5#infoResponse #{senatorList[0].contact}
        br
        br
        h2#SenatorName #{senatorList[1].name}
        h4#infoTitle Phone Number
        h5#infoResponse #{senatorList[1].phone}
        h4#infoTitle Address
        h5#infoResponse #{senatorList[1].address}
        h4#infoTitle Contact Form
        h5#infoResponse #{senatorList[1].contact}

  script.
    document.getElementById('stateForm').selectStateBox.onchange = function() {
      var toadd = this.value;
      document.getElementById('stateForm').action = toadd;
    }