extends layout
block content
  #wrapper
    #left
      h2 SEARCH FOR POLITICAL ACTION NEAR YOU!
      #searchPolForm
        form#formform(method="get", action="")
          .inputfield
            label City:
            input#city(type="text")
          .inputfield
            label Distance From My Location:
            input#dist(type="number")
          .inputfield
            label Date:
            input#date(type="datetime-local")
          .inputfield
            label Cause:
            select#selectCauseBox
              option(value='') Select
              option(value='/event/Climate-Change') Climate Change
              option(value='/event/Racial-Justice') Racial Justice
          input#mapSubmit(type="submit" value="SUBMIT")
    #right
      h2 EVENTS
      #eventList
        .eventItem
          .eventTitle
            h3.eventTitleText #{eventInfo[0].name}
          h5.eventDate #{eventInfo[0].date}
          h5.eventLoc #{eventInfo[0].loc}
          p.eventDescription #{eventInfo[0].description}
        .eventItem
          .eventTitle
            h3.eventTitleText #{eventInfo[1].name}
          h5.eventDate #{eventInfo[1].date}
          h5.eventLoc #{eventInfo[1].loc}
          p.eventDescription #{eventInfo[1].description}

  script.
    document.getElementById('formform').selectCauseBox.onchange = function() {
      var toadd = this.value;
      document.getElementById('formform').action = toadd;
    }  
